.flexButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10em;
}

.flexCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2eabc;
    margin: 2em 3em 2em 3em;
    padding: 4em;
    width: 30%;
    flex-basis: 20%;
    border-radius: 15px;
    border: dotted blue;
}

.flexContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.submit {
    
}